.home
    padding: 10px
    display: flex
    // flex-wrap: wrap
    gap: 20px
    &__sidebar
        padding: 20px
        width: 400px
        border: 1px solid #ddd
    &__cards
        padding: 5px
        // background: green
        height: 85vh
        overflow-y: auto
        flex-grow: 1
