.home
    padding: 10px
    display: flex
    gap: 20px
    &__sidebar
        position: sticky
        top: 10px
        left: 0
        height: 90vh
        padding: 20px
        width: 500px
        border: 1px solid #ddd
    &__cards
        width: 800px
        padding: 5px
.sort-panel
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: 10px