@import '../../styles/mixins'

.header__list
    display: flex
    flex-wrap: wrap
    gap: 60px
    align-items: center
    font-size: 18px
    list-style: none
    @include respond(phoneXL)
        gap: 15px
        padding: 5px
    @include respond(phoneM)
        padding: 10px
.header__list-item
    position: relative
    @include respond(phoneXL)
        margin-right: 20px
    &:not(:last-child)::after
        content: ""
        display: block
        width: 2px
        height: 20px
        background-color: white
        margin-left: 10px
        border-left: 2px solid white
        position: absolute
        top: 0
        right: -30px
        @include respond(phoneXL)
            right: -25px
